page-welcome {
[default-background] {
    background-image: url("http://119.59.125.191/shares/03.jpg");
    background-repeat: no-repeat;
    background-size: auto ;
    @include darkening-blend-mode;
  }
	
	.item.item-input {
	    background-color:rgba(201, 76, 76, 0.3);
	    color: white;
	}


}
